<web-app>

  <display-name>Archetype Created Web Application</display-name>

  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>

  <servlet>
    <servlet-name>userController</servlet-name>
    <servlet-class>com.vaishnavi.servlet.cab.booking.controller.UserController</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>driverController</servlet-name>
    <servlet-class>com.vaishnavi.servlet.cab.booking.controller.DriverController</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>userController</servlet-name>
    <url-pattern>/user-controller</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>driverController</servlet-name>
    <url-pattern>/driver-controller</url-pattern>
  </servlet-mapping>

</web-app>
